.card {
    border: 2px solid #FFDE00; 
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #faff9c; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px; 
    height: 180px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    width: 100px; 
    height: 100px; 
    margin-bottom: 15px;
  }
  
  .card p {
    margin: 10px 0 0;
    font-size: 1.2em; 
    color: #333;
    font-weight: bold;
  }